[submodule "modules/dozendserver"]
	path = modules/dozendserver
	url = https://github.com/devopera/puppet-dozendserver.git
[submodule "modules/dorepos"]
	path = modules/dorepos
	url = https://github.com/devopera/puppet-dorepos.git
[submodule "modules/dopki"]
	path = modules/dopki
	url = https://github.com/devopera/puppet-dopki.git
[submodule "modules/domysqldb"]
	path = modules/domysqldb
	url = https://github.com/devopera/puppet-domysqldb.git
[submodule "modules/dosamba"]
	path = modules/dosamba
	url = https://github.com/devopera/puppet-dosamba.git
[submodule "modules/domotd"]
	path = modules/domotd
	url = https://github.com/devopera/puppet-domotd.git
[submodule "modules/dopostfix"]
	path = modules/dopostfix
	url = https://github.com/devopera/puppet-dopostfix.git
[submodule "modules/domantis"]
	path = modules/domantis
	url = https://github.com/devopera/puppet-domantis.git
[submodule "configs/django"]
	path = configs/django
	url = https://github.com/devopera/appconfig-django.git
[submodule "configs/wordpress"]
	path = configs/wordpress
	url = https://github.com/devopera/appconfig-wordpress.git
[submodule "modules/nfs"]
	path = modules/nfs
	url = https://github.com/haraldsk/puppet-module-nfs/
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/puppetdb"]
	path = modules/puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb.git
[submodule "modules/pear"]
	path = modules/pear
	url = https://github.com/rafaelfelix/puppet-pear.git
[submodule "modules/epel"]
	path = modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/saz/puppet-ntp.git
[submodule "modules/puppi"]
	path = modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "modules/monitor"]
	path = modules/monitor
	url = https://github.com/example42/puppet-monitor.git
[submodule "modules/iptables"]
	path = modules/iptables
	url = https://github.com/example42/puppet-iptables.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/example42/puppet-firewall.git
[submodule "modules/ssh"]
	path = modules/ssh
	url = https://github.com/devopera/puppet-ssh.git
[submodule "modules/dns"]
	path = modules/dns
	url = https://github.com/devopera/puppet-dns.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/nagios"]
	path = modules/nagios
	url = https://github.com/devopera/puppet-nagios.git
[submodule "modules/dopuppetmaster"]
	path = modules/dopuppetmaster
	url = https://github.com/devopera/puppet-dopuppetmaster.git
[submodule "modules/donagios"]
	path = modules/donagios
	url = https://github.com/devopera/puppet-donagios.git
[submodule "modules/dodns"]
	path = modules/dodns
	url = https://github.com/devopera/puppet-dodns.git
[submodule "modules/docommon"]
	path = modules/docommon
	url = https://github.com/devopera/puppet-docommon
[submodule "modules/nrpe"]
	path = modules/nrpe
	url = https://github.com/example42/puppet-nrpe.git
[submodule "modules/dowordpress"]
	path = modules/dowordpress
	url = https://github.com/devopera/puppet-dowordpress.git
[submodule "modules/doredmine"]
	path = modules/doredmine
	url = https://github.com/devopera/puppet-doredmine.git
[submodule "modules/doopencv"]
	path = modules/doopencv
	url = https://github.com/devopera/puppet-doopencv.git
[submodule "modules/dopuppetdashboard"]
	path = modules/dopuppetdashboard
	url = https://github.com/devopera/puppet-dopuppetdashboard.git
[submodule "modules/domongodb"]
	path = modules/domongodb
	url = https://github.com/devopera/puppet-domongodb.git
[submodule "modules/dosquid"]
	path = modules/dosquid
	url = https://github.com/devopera/puppet-dosquid.git
[submodule "modules/rkhunter"]
	path = modules/rkhunter
	url = https://github.com/duritong/puppet-rkhunter.git
[submodule "modules/dashboard"]
	path = modules/dashboard
	url = https://github.com/puppetlabs/puppetlabs-dashboard.git
[submodule "modules/wget"]
	path = modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/puppetlabs/puppetlabs-nodejs.git
[submodule "modules/ant"]
	path = modules/ant
	url = https://github.com/maestrodev/puppet-ant.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "modules/docsf"]
	path = modules/docsf
	url = https://github.com/devopera/puppet-docsf.git
[submodule "modules/dorkhunter"]
	path = modules/dorkhunter
	url = https://github.com/devopera/puppet-dorkhunter.git
[submodule "configs/lamp"]
	path = configs/lamp
	url = https://github.com/devopera/appconfig-lamp.git
[submodule "modules/dodjango"]
	path = modules/dodjango
	url = https://github.com/devopera/puppet-dodjango.git
[submodule "modules/dodrupal"]
	path = modules/dodrupal
	url = https://github.com/devopera/puppet-dodrupal.git
[submodule "modules/doffmpeg"]
	path = modules/doffmpeg
	url = https://github.com/devopera/puppet-doffmpeg.git
[submodule "modules/dopython"]
	path = modules/dopython
	url = https://github.com/devopera/puppet-dopython.git
[submodule "configs/redmine"]
	path = configs/redmine
	url = https://github.com/devopera/appconfig-redmine.git
[submodule "modules/donodejs"]
	path = modules/donodejs
	url = https://github.com/devopera/puppet-donodejs.git
[submodule "modules/dophonegap"]
	path = modules/dophonegap
	url = https://github.com/devopera/puppet-dophonegap.git
[submodule "modules/doyeoman"]
	path = modules/doyeoman
	url = https://github.com/devopera/puppet-doyeoman.git
[submodule "modules/dopostgresql"]
	path = modules/dopostgresql
	url = https://github.com/devopera/puppet-dopostgresql.git
[submodule "modules/dopassenger"]
	path = modules/dopassenger
	url = https://github.com/devopera/puppet-dopassenger.git
[submodule "modules/squid"]
	path = modules/squid
	url = https://github.com/devopera/puppet-squid.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/samba"]
	path = modules/samba
	url = https://github.com/thias/puppet-samba.git
[submodule "modules/dosymfony"]
	path = modules/dosymfony
	url = https://github.com/devopera/puppet-dosymfony.git
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
[submodule "modules/domean"]
	path = modules/domean
	url = https://github.com/devopera/puppet-domean.git
[submodule "modules/dojekyll"]
	path = modules/dojekyll
	url = https://github.com/devopera/puppet-dojekyll.git
[submodule "modules/gcc"]
	path = modules/gcc
	url = https://github.com/puppetlabs/puppetlabs-gcc.git
[submodule "modules/redis"]
	path = modules/redis
	url = https://github.com/thomasvandoren/puppet-redis.git
[submodule "modules/selinux_types"]
	path = modules/selinux_types
	url = https://github.com/jgoldschrafe/puppet-selinux_types.git
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = https://github.com/elasticsearch/puppet-elasticsearch.git
[submodule "configs/angular"]
	path = configs/angular
	url = https://github.com/devopera/appconfig-angular.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/cprice-puppet/puppetlabs-inifile.git
[submodule "modules/doversions"]
	path = modules/doversions
	url = https://github.com/devopera/puppet-doversions.git
[submodule "modules/doderby"]
	path = modules/doderby
	url = https://github.com/devopera/puppet-doderby.git
[submodule "modules/dogae"]
	path = modules/dogae
	url = https://github.com/devopera/dogae.git
